#image-display{
	width: 45%;
	   -moz-box-shadow: 0 0 5px 5px #AAA;
	-webkit-box-shadow: 0 0 5px 5px #AAA;
			box-shadow: 0 0 5px 5px #AAA;
	position: fixed;
	overflow: hidden;
	background-color: #DDD;
}

.image-row{
	float: left;
	overflow: visible;
	width: 99999px;
  
}

.image-row img{
	float: left;
	padding: 50px 100px;
  
}

#article-display p{
	z-index: 1;
	position: relative;
}
#active{
	z-index: 0;
	position: absolute;
	   -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
			border-radius: 10px;
	color: black;
	background-color: #FFF;
}

#article-nav{
	width: 100%;
	text-align: center; 
	margin-bottom: 5px;
}


#left-arrow{
	width: 5%;
	height: 565px;
	position: absolute;
	background-image:url('../images/left-arrow.png');
	background-repeat:no-repeat;
	background-position:center; 
	z-index: 200;
}
#right-arrow{
	width: 5%;
	left: 95%;
	height: 565px;
	position: absolute;
	background-image:url('../images/right-arrow.png');
	background-repeat:no-repeat;
	background-position:center; 
	z-index: 200;
}